
.iconPosition {
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.valuesPosition {
    margin-left: 8rem;
}

.valueName {
    margin-top: 2rem !important;
    margin-left: 3rem !important;
    font-weight: bold !important;
}

.valuesStyle {
    color: black !important;
}

.quantidadeStyle {
    margin-left: 4rem !important;
    margin-bottom: 23rem !important;
    background-color: #63d163;
}

.precoValue {
    font-weight: bold !important;
    margin-bottom: 0.5rem !important;
}

.col {
    height: 1.75rem;
    width: 0.0625rem;
    background: rgb(222, 224, 228);
}

.colDiv {
    height: 20rem;
    width: 0.0625rem;
    background: rgb(222, 224, 228);
    margin-left: 4rem !important;
    margin-top: 4rem !important;
}

.textos1 {
    text-align: center;
}

.iButton {
    margin-top: 1rem;
}

.alinhar {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.7rem;
    overflow: hidden;
    min-width: 200px;
    z-index: 0;
}

.addCarrinho {
    background-color: #F2CD5C;
}

button:hover {
    transform: scale(1.01);
    
}
